<h1 class = 'text-center mt-4'> Alpha Bloggers </h1> 

<div class="flickr_pagination mb-2">
    <%= will_paginate @users, :container => false %>
</div>

<% @users.each do |user| %>
<div class='row'>
  <div class='col-md-8 offset-md-2'>
    <div class='card card-body bg-light'>
      <div >
        <h3 class='center'><%= link_to user.username, user_path(user) %> </h3>
        <h3> <%= link_to gravatar_for(user,size: 150), user %> </h3>
      </div>
      <div class='article-body'>
        <%= pluralize(user.articles.count, "article") %>
        <p style= 'float: right'> Joined <%= time_ago_in_words(user.created_at) %> ago </p>
      </div>
      <div class='article-actions center'>
        <%= link_to 'View profile', user, class: 'btn btn-xs btn-outline-info' %>
        <%= link_to 'Edit profile', edit_user_path(user), class: 'btn btn-xs btn-outline-success' %>
        </div>
    </div>
    <br>
  </div>
</div>
<% end %>
<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>
